body {
    padding-top: 50px;
    background-color: #eee;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.form-reg {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-reg .form-reg-heading,
.form-reg .checkbox {
    margin-bottom: 10px;
}
.form-reg .checkbox {
    font-weight: normal;
}
.form-reg .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-reg .form-control:focus {
    z-index: 2;
}
.form-reg input[type="email"]
.form-reg input[type="password"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-reg input[type="date"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 44px;
}

.big-checkbox {width: 20px; height: 20px;}